In [6]:
import sys
from os import listdir
import os

from xml.dom.minidom import parse
import pandas as pd

In [13]:
#datadir = "data/Train/MedLine"
datadir = "/Users/lluccardoner/PycharmProjects/MET_AHLT_Lab_2019/data/Train/DrugBank/"
print(datadir)

/Users/lluccardoner/PycharmProjects/MET_AHLT_Lab_2019/data/Train/DrugBank/

# Load data

In [20]:
trees = []
for f in listdir(datadir):
    # parse XML file
    tree = parse(datadir + "/" + f)
    trees.append(tree)

In [33]:
items = []
for tree in trees:
    for s in tree.getElementsByTagName("sentence"):
        s_id = s.attributes["id"].value
        s_txt = s.attributes["text"].value
        for e in s.getElementsByTagName("entity"):
            e_id = e.attributes["id"].value
            e_offset = e.attributes["charOffset"].value 
            e_name = e.attributes["text"].value
            e_type = e.attributes["type"].value
            item = {"s_id": s_id, "s_txt": s_txt, "e_id": e_id, "e_offset": e_offset, "e_name": e_name, "e_type": e_type}
            items.append(item)

In [39]:
df = pd.DataFrame(items)
df.shape

(12929, 6)

## Entities with sentences

In [40]:
df.head(10)

,e_id,e_name,e_offset,e_type,s_id,s_txt
0,DDI-DrugBank.d481.s0.e0,calcium,25-31,drug,DDI-DrugBank.d481.s0,"Milk, milk products, and calcium-rich foods or..."
1,DDI-DrugBank.d481.s0.e1,EMCYT,82-86,brand,DDI-DrugBank.d481.s0,"Milk, milk products, and calcium-rich foods or..."
2,DDI-DrugBank.d419.s0.e0,allopurinol,33-43,drug,DDI-DrugBank.d419.s0,The concurrent administration of allopurinol a...
3,DDI-DrugBank.d419.s0.e1,ampicillin,49-58,drug,DDI-DrugBank.d419.s0,The concurrent administration of allopurinol a...
4,DDI-DrugBank.d419.s0.e2,ampicillin,175-184,drug,DDI-DrugBank.d419.s0,The concurrent administration of allopurinol a...
5,DDI-DrugBank.d419.s1.e0,ampicillin,45-54,drug,DDI-DrugBank.d419.s1,It is not known whether this potentiation of a...
6,DDI-DrugBank.d419.s1.e1,allopurinol,73-83,drug,DDI-DrugBank.d419.s1,It is not known whether this potentiation of a...
7,DDI-DrugBank.d419.s2.e0,AUGMENTIN XR,33-44,brand,DDI-DrugBank.d419.s2,"In controlled clinical trials of AUGMENTIN XR,..."
8,DDI-DrugBank.d419.s2.e1,allopurinol,80-90,drug,DDI-DrugBank.d419.s2,"In controlled clinical trials of AUGMENTIN XR,..."
9,DDI-DrugBank.d419.s2.e2,AUGMENTIN XR,96-107,brand,DDI-DrugBank.d419.s2,"In controlled clinical trials of AUGMENTIN XR,..."

In [45]:
df["e_type"].value_counts()

drug      8197
group     3206
brand     1423
drug_n     103
Name: e_type, dtype: int64

In [50]:
df["e_name"].value_counts()[:10]

warfarin         176
digoxin          176
phenytoin        157
lithium          119
theophylline     115
ketoconazole     107
cimetidine        89
carbamazepine     81
erythromycin      79
aspirin           79
Name: e_name, dtype: int64

In [69]:
df.describe()

,e_id,e_name,e_offset,e_type,s_id,s_txt
count,12929,12929,12929,12929,12929,12929
unique,12929,2655,3957,4,4683,4505
top,DDI-DrugBank.d165.s16.e2,warfarin,0-9,drug,DDI-DrugBank.d64.s87,Drugs that reportedly may increase oral antico...
freq,1,176,267,8197,55,55

## Entities and type

In [65]:
df_e = df[["e_name", "e_type"]].drop_duplicates()
df_e.head(10)

                                e_name e_type
0                              calcium   drug
1                                EMCYT  brand
2                          allopurinol   drug
3                           ampicillin   drug
7                         AUGMENTIN XR  brand
12          broad-spectrum antibiotics  group
14                      contraceptives  group
15                             PROCRIT  brand
16  central nervous system depressants  group
17                     benzodiazepines  group

In [68]:
# there are names that have more than one type
df_e.describe()

             e_name e_type
count          2719   2719
unique         2655      4
top     neuroleptic   drug
freq              2   1393